@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --detail: #0a0a0a;
  --grey: #737373;
  --background: #faf5ff;
  --primary: #f3e8ff;
  --background-sec: #c4b5fd;
  --secundary: #581c87;
  --extra: #7451d7;
}

body {
  background: var(--background);
}
